.characters {
  font-family: sans-serif;
  ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: white;
    
    li {
      padding: 20px;
      background: indigo;
      list-style: none;
      border: 5px black;
      width: 200px;
      margin: 10px;
    }
  }
}
